html, body {
  color:black;
  margin: 0;
  width:100%;
  height:100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
#map { 
    position:relative; 
    display:block;
    width: 100%;
    height: 85%;
    margin: auto;
}

#point-toggle-container{
	position: absolute;
	width:150px;
	height:15%;
    padding:10px;
}
#emoji-toggle-container{
    position: absolute;
    width:150px;
    left:100px;
    height:15%;
    padding:10px;
    padding-top: 40px;
}
#area-toggle-container{
    position: absolute;
    left:300px;
    width:200px;
    height:15%;
    padding:10px;
}
#pop-toggle-container{
    position: absolute;
    left:520px;
    width:200px;
    height:15%;
    padding:10px;
    padding-top: 25px;
}

.toggle-container ul{
    position:relative;
    padding: 5px;
    list-style: none;
    height:20px;
    margin:0;
}

.toggle-container ul li p{
    display: inline;
    position:relative;
    left:25px;
    text-align: left;
    font-size: 14px;
    list-style: none;
    margin:0;
}

.toggle-container ul li span{
    display: block;
    position:absolute;
    width:20px;
    font-size:18px;
    left:10px;
    color:rgb(100,100,100);
    cursor:pointer
}

.toggle-container p{
    font-size: 9px;
    margin:0;
    text-align: center;
}

#emoji-toggle-container li p, span {
    font-size: 12px;
}

#gradient-legend{
    position:relative;
    width:100px;
    height: 10px;
    top:10px;
    left:30px;
    background: -webkit-linear-gradient(left, #4575b4, #91bfdb, #e0f3f8, #ffffbf, #fee090, #fc8d59, #d73027);
    background: linear-gradient(to right, #4575b4, #91bfdb, #e0f3f8, #ffffbf, #fee090, #fc8d59, #d73027);
}

#pop-toggle-container li p, span {
    font-size: 12px;
}

#lihtc-toggle{
    color: rgba(237, 23, 176, 1);
}

#tweet-toggle{
    color: rgba(23, 179, 237, 1);
}
#emoji-toggle{
    color: rgb(100,100,100);
}

#lihtc-toggle.deactivated{
    color:rgb(100,100,100);
}

#tweet-toggle.deactivated{
    color:rgb(100,100,100);
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
